circle {
  fill: rgb(31, 119, 180);
  fill-opacity: .25;
  stroke: rgb(31, 119, 180);
  stroke-width: 1px;
}

.leaf circle {
  fill: #ff7f0e;
  fill-opacity: 1;
}

text {
  text-anchor: middle;
}

.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

body {
  color: #333;
  font-size: 14px;
  font-family: Lato, sans-serif;
}

body > svg{
  border: 1px;
  margin: 50px 200px;
}

a{
  text-decoration: none;
}

#infoBox{
  opacity : 0;
  width : 360px;
}

#sub-svg{
  position: absolute;
  top: 100px;
  bottom: 100px;
  right : 260px;
  left : 380px;
  background-color: rgb(249, 247, 237);
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  max-height: 800px;
  overflow: scroll;
  display: none;
}

svg#layer-svg{
  margin-left: 150px;
  margin-top: 50px;
}

#cover{
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: black;
  opacity: 0.75;
}

#OverLay{
  display: block;
  position : fixed;
  top : 0px;
  bottom : 0px;
  left : 0px;
  right : 0px;
  background : rgba(0,0,0,0.7);
}

#chartContainer{
  display: none;
  width: 1100px;
  height: 700px;
  margin: 150px auto;
}

#graph-container {
  top: 50px;
  bottom: 50px;
  left: 300px;
  right: 300px;
  position: absolute;
  border : 2px solid #ccc;
  background-color: #ddd;
}

#sel-graph-container {
  position : absolute;
  top : 5%;
  bottom : 5%;
  left : 5%;
  right : 5%;
  background-color: rgb(249, 247, 237);
}

#control-pane{
  display: none;
  top : 10px;
  right : 10px;
}

.report, #reportOnTreeMap{
  position: absolute;
  width: 240px;
  background-color: rgb(249, 247, 237);
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  max-height: 800px;
  overflow: auto;
}

#graph-report {
  position: absolute;
  top: 100px;
  bottom: 100px;
  right : 20%;
  left : 20%;
  background-color: rgb(249, 247, 237);
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  max-height: 800px;
  overflow: auto;
}

#control-pane > div, .report > div, #node-report > div, #reportOnTreeMap>div{
  margin: 10px;
  overflow-x: auto;
}

.line {
  clear: both;
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #aac789;
  background: transparent;
}

h2, h3, h4 {
  padding: 0;
  margin : 10px;
  font-variant: small-caps;
}

.green {
  color: #437356;
}

h2.underline {
  color: #437356;
  background: #f4f0e4;
  margin: 0;
  border-radius: 2px;
  padding: 8px 12px;
  font-weight: 700;
}
.hidden {
  visibility: hidden;
}
input[type=range] {
  width: 160px;
}
.legend{
  padding: 5px;
}
.color-box{
  box-sizing: border-box;
  display: inline-block;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin: 0px 0px -7px 5px;
}
.comment{
  display: inline-block;
  vertical-align: 5px;
}

.close{
  position : absolute;
  top : 7px;
  right : 10px;
  text-decoration: none;
  line-height : 1;
}
.close::after{
  font-size: 24px;
  font-weight: bold;
  content : 'x';
}
.close:hover{
  color : red;
}
#color-box-blue{
  background-color: #668de5;
}
#color-box-green{
  background-color: #71e096;
}
#color-box-cyan{
  background-color: #90d4f7;
}
#color-box-purple{
  background-color : #c497f2;
}
#id-search, .btn-search{
  display : inline-block;
  margin : 5px;
}

.row{
  display : block;
  width : 100%;
}
.col-4{
  display : inline-block;
  width : 33.333333%;
  float : left;
  margin : 10px 0px;
}
.col-2{
  display : inline-block;
  width : 16.666666%;
  float : left;
  text-align : center;
  margin : 10px 0px;
}
.scrollable{
  max-height : 600px;
  overflow : auto;
}
.breadcrumb{
  position : absolute;
  left : 15px;
  top : 15px;
  font-size : 14px;
}
.treeMapLink{
  position : absolute;
  left : 15px;
  top : 30px;
  font-size : 14px;
}

div.breadcrumb a{
  margin : 0px 10px;
}
div.treeMapLink{
  margin-top : 20px;
}

/* -------------- tooltip ------------- */

div.tooltip {
  position: absolute;
  text-align: center;
  width: 60px;
  height: 28px;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
}


#parallelogram {
  width: 30px;
  height: 20px;
  -webkit-transform: skew(45deg);
  -moz-transform: skew(45deg);
  -o-transform: skew(45deg);
  background-color: #ccc;
  margin: 0px 5px 0px 10px;
  display : inline-block;
 }

#chevron {
  position: relative;
  text-align: center;
  margin: 0px 5px 0px 10px;
  height: 20px;
  width: 30px;
  display : inline-block;
}

#chevron:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 50%;
  width: 100%;
  background-color: #ccc;
  -webkit-transform: skew(45deg, 0deg);
  -moz-transform: skew(45deg, 0deg);
  -ms-transform: skew(45deg, 0deg);
  -o-transform: skew(45deg, 0deg);
  transform: skew(45deg, 0deg);
}
#chevron:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  height: 50%;
  width: 100%;
  background-color: #ccc;
  -webkit-transform: skew(-45deg, 0deg);
  -moz-transform: skew(-45deg, 0deg);
  -ms-transform: skew(-45deg, 0deg);
  -o-transform: skew(-45deg, 0deg);
  transform: skew(-45deg, 0deg);
}
#hexagon {
	width: 28px;
	height: 14px;
	background-color: #ccc;
	position: relative;
  display: inline-block;
  margin: 0px 5px 0px 10px;
}
#hexagon:before {
	content: "";
	position: absolute;
	top: -7px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 14px solid transparent;
	border-right: 14px solid transparent;
	border-bottom: 7px solid #ccc;
}
#hexagon:after {
	content: "";
	position: absolute;
	bottom: -7px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 14px solid transparent;
	border-right: 14px solid transparent;
	border-top: 7px solid #ccc;
}

#blue-line{
  display: inline-block;
  width: 30px;
  height: 2px;
  margin: 0px 5px 7px 10px;
  background-color: blue;
}

#red-line{
  display: inline-block;
  width: 30px;
  height: 2px;
  margin: 0px 5px 7px 10px;
  background-color: red;
}
.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -60px;
  margin-top: -60px;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
